@model IEnumerable<Kurs>
@{
    ViewData["Title"] = "Index";
    
}

<h3>Kurs Listesi</h3>
<hr />
<a class="btn btn-outline-success mb-3" href="/Kurs/Create">Yeni Kurs Ekle</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(n => n.KursId)</th>
            <th>@Html.DisplayNameFor(n => n.Baslik)</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null){
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.KursId</td>
                <td>@item.Baslik</td>
                
                <td>
                    <a asp-controller="Kurs" asp-action="Edit" asp-route-id="@item.KursId" class="btn btn-primary">Güncelle</a>
                    <a asp-controller="Kurs" asp-action="Delete" asp-route-id="@item.KursId" class="btn btn-danger">Sil</a>
                </td>
            </tr>

        }
        }

    </tbody>
</table>
